/**
 * Specific heading styles for the project
 */

// Set a specific font for the display headings
h1,
.h1,
h2,
.h2,
.navbar-brand,
.display-heading {
	font-family: $font-family-script;
}

.display-heading,
.navbar-brand {
	font-size: $h1-font-size; // Not @extending, because the algorithm is too greedy

	@include media-breakpoint-up( md ) {
		font-size: _calc-rem( 42px ); // Font size changes on larger screens
	}
}

h1,
.h1,
.navbar-brand {
	line-height: _calc-rem( 50px );
}

h2,
.h2 {
	line-height: _calc-rem( 50px );
}

h3,
.h3 {
	line-height: _calc-rem( 25px );
	font-weight: $font-weight-semi-bold;
	color: theme-color( primary );
}

h4,
.h4 {
	line-height: _calc-rem( 25px );
	text-transform: uppercase;
	font-weight: $font-weight-bold;
}

h5,
.h5 {
	line-height: _calc-rem( 25px );
	font-weight: $font-weight-semi-bold;
	color: theme-color( primary );
}

.content-title {
	// Essentially changes to an h1 at large screens
	@include media-breakpoint-up( md ) {
		font-size: $h1-font-size;
	}
}